
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

[v-cloak] {
    display : none;
}

.page-header {
    margin-bottom : $spacer-y;
    border-bottom : $hr-border-width solid $hr-border-color;
}
